.search {
  padding: 28px 40px;
  background-color: #141414;
  &-main {
    display: flex;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
  }
  &-input {
    height: 40px;
    padding-left: 15px;
    display: flex;
    flex: 1;
    border: 1px solid transparent;
    background-color: #ececec;
  }
  &-icon {
    padding: 0 20px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
  }
}

@media screen and (max-width: 1279.98px) {
  .search {
    &-main {
      max-width: 880px;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .search {
    &-main {
      max-width: 616px;
    }
  }
}
