*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 3000px;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    color:#000;
    text-decoration: none;
}
.container{
    width:1140px;
    margin:0 auto;
}
.clear{
    clear:both;
}

/* HEADER  */
.header{
    padding:20px 0 20px 0;
}
.header__logo-icon{
    font-size: 20px;
    background-color: #001f42;
    color: #fdc800;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.header__logo-title{
    display: inline-block;
}
.header__link{
    margin:15px 0 0 20px;
    font-weight: 600;
}

/* CAROUSEL  */
.carousel{
    background: url('../images/2.jpg');
    background-position: center;
    background-size: cover;
    height: 800px;
}

/* ABOUT US  */
.aboutUs__left, .aboutUs__right{
    width: 50%;
    float: left;
    padding:60px 0 30px 0;
}
.aboutUs__left{
    padding-right: 40px;
}
.aboutUs__left-title{
    font-size: 34px;
    margin-bottom: 20px;
}
.aboutUs__left-desc{
    font-size: 18px;
    color:#a4a4a4;
    margin-bottom:20px;
}
.aboutUs__right img{
    width: 100%;
}
.aboutUs__left-btn{
    margin-top:10px ;
    font-weight: 800;
    background-color: #fdc800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding:15px 25px 15px 25px;
}
/* ACHIEVEMENT  */
.achievement{
    margin-top: 30px;
    background-color: #f6f6f6;
    padding:60px 0 60px 0;
}
.achievement__box{
    width:25%;
    float: left;
    padding:0 10px 0 0;
}
.achievement__box-number{
    font-size: 60px;
    width: 25%;
    float: left;

}
.achievement__box-title{
    font-size: 20px;
    width: 75%;
    float: left;
    margin: 10px 0 0 0;
}

/* JOB  */
.job{
    padding:70px 0 45px 0;
}
.job__box{
    width:22%;
    padding:40px 0;
    float: left;
    background-color: #001f42;
    color:#fff;
    text-align: center;
    margin-right: 3%;
    border-radius: 5px;
    margin-bottom: 35px;
}

.job__box i{
    font-size: 40px;
    margin-bottom: 20px;
}

.job__box-title{
    font-size: 20px;
}

/* NEWS  */
.news{
    background-color: #f6f6f6;
    padding:60px 0 60px 0;
    font-size: 18px;
}
.news h1{
    width: 50%;
    float: left;
}
.news__footer-right, .news__footer-left{
    width: 50%;
    float: left;
}
.news__footer-left button{
    margin: 30px 57px 0 0;
}
.news__btn{
    float: right;
    margin-right: 78px;
    padding: 15px 30px;
    color: #002146;
    background: #fdc800;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.latest,.events{
    width: 45%;
    margin-right: 5%;
    padding:0 20px 0 20px;
    float:left;
}
.latest{
    background-color: #fff;
}
.latest-box{
    width: 100%;
    min-height: 160px;
    padding:20px 0 20px 0;
}
.latest-box__left{
    width: 30%;
    float:left;
}
.latest-box__left img{
    width: 100%;
    border-radius: 5px;
}
.latest-box__right{
    width:70%;
    float:left;
    padding:0 20px 0 20px;
}
.latest-box__right-title{
    margin-bottom: 10px;
}
.latest-box__right-time{
    color:#a4a4a4;
    font-weight: 600;
}
.latest-box__right-desc{
    margin-top: 10px;
}

/* EVENTS */

.events-box{
    padding:20px;
    margin: 0 0 20px 0;
    background-color: #fff;
}
.events-box__left{
    width: 25%;
    float: left;
}
.events-box__right{
    width: 75%;
    float: left;
}
.celendar{
    min-height: 120px;
    width: 95px;
    text-align: center;
    font-weight: 600;
}
.celendar__header{
    height: 80px;
    background-color: #fdc800;
    padding:10px 0 10px 0;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}
.celendar__header-day{
    font-size: 30px;
    margin-bottom: 5px;
}
.celendar__footer{
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    height: 40px;
    line-height: 40px;
    background-color: #002146;
    color:#fff;
}
.events-box__right-desc{
    font-weight: 400;
    margin:15px 0 10px 0;
    color:#a4a4a4;
}
.events-box__right-time, .events-box__right-location{
    color:#002146;
    font-weight: 600;
}

/* FOOTER */
.footer{
    background-color: #001f42;
    color: #fff;
}
.footer .container{
    padding:60px 0 60px 0;
}
.footer i{
    color: #fdc800;
    margin-right: 10px;
}
.footer h2{
    margin-bottom: 28px;
}
.footer__desc{
    margin: 13px 0 13px 0;
}
.footer__contact{
    width: 30%;
    float: left;
    padding:0 20px 0 0;
}
.footer__features{
    width: 30%;
    float: left;
}
.footer__quick{
    width: 40%;
    float: left;
}
.footer hr{
    margin: 30px 0 30px 0;
}
.footer__copyright span{
    color: #a4a4a4;
}